[submodule "graph-homomorphism-network"]
	path = graph-homomorphism-network
	url = git@github.com:pwelke/graph-homomorphism-network.git
	branch = develop
[submodule "HomSub"]
	path = HomSub
	url = git@github.com:pwelke/HomSub.git
